
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background:url(images/background.jpg);
    width:100%;
    height:100%;

}
.welcome{
    margin-top: 50px;
    font-size:50px;
    color:greenyellow;
    text-align: center;
    margin-bottom: 150px;
}

.Card {
    width: 75%;
    max-width: 100%;
    background: linear-gradient(135deg,#000,#4CAF50);
    /* background-color: #4CAF50; */
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
  
    text-align: center;
    position: relative; 
   
    padding-top:50px;
    padding-bottom: 150px;
    padding-right: 100px;
    padding-left: 50px;
    margin-left:200px;
}

.search {
    margin-bottom: 20px;
    /* background-color:#000; */
}
.intro{
        transition: background-color 0.3s ease;
    margin-top:0px;
    margin-bottom:50px;
  
}
.live{
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.live:hover{
    color: #ff004f;
}

.Desc {
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}
.Desc:hover{
    color: #ff004f;
}

.error {
    font-size: 20px;
    display: none; 
    color: red;
    margin-top: 10px; /* Add margin top to error message */
    text-align: left; 
    
}

.weather {
    display: none; 
}

.weather.show {
    margin-top: 10px;
    display: block; 
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.container {
    display:none;
    width: 75%;
    height: 100%;
 
     background: linear-gradient(135deg, #000, #ff004f); 
 

    color: #fff;
    margin-top: 100px;;
    margin-bottom: 150px;
   margin-left:100px;
   margin-right:100px; 
    border-radius: 20px;
    padding: 100px 50px;
    text-align: center;
    
}





.weather-icon {
    width: 170px;
    margin-top: 30px;
}
.weather .intro .start{
    color:aqua;
    font-size: 40px;
    margin-bottom: 15px;
    
}
.weather .intro .desc{
    color:greenyellow;
    font-size: 40px;
    margin-bottom: 8px;
    
}
.weather .complete{
  margin-bottom:15px;
}
.weather .complete h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather .complete h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}


.complete img,
.complete h1,
.complete h2 {
    margin-bottom: 20px; 
   color:#000;
}

.Card .intro .live{
    margin-top:10px;
    justify-content: space-between;
 
    font-size: 75px;
    font-weight:500;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    color:#000;
    /* background-color:aqua */
}
.details img{
 
    /* background-color:aqua; */
    background-size: 500px;
    width: 500px;
    height: auto;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.current-time {
    font-size: 40px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 5px;
}

.time {
    font-size: 30px;
    font-weight: 200;
    margin-top: -20px;
    margin-bottom: 10px;
}



.start {
    /* text-align: center; */
    font-size: 50px;
    color:greenyellow;
    margin-top: 50px;
    margin-left:25%;
}



.complete .weather-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.errorgot{

    
        width: 100%;
   
        color: #fff;
      
        margin-top: 100px;
        border-radius: 20px;
      
        text-align: center;
        position: relative; 
       
        padding-top:150px;
        padding-bottom: 150px;
        padding-right: 100px;
        padding-left: 100px;
    
}
.errorhere {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding: 30px;
    border: 8px solid #f44336;
    background-color: #ffebee;
    border-radius: 5px;
    color: #f44336;
    font-size: 30px;
}
.error-message{
    /* line-break: 10px; */
    line-height: 1.5;
    
}

.error-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

@media only screen and (max-width:600px){


    .container {
        display:none;
        width: 75%;
        height: 100%;
       
         background: linear-gradient(135deg, #000, #000); 
    
        color: #fff;
        margin-top: 100px;;
        margin-bottom: 150px;
        margin-left:100px;
       margin-right:200px;  
        border-radius: 20px;
        padding: 100px 50px;
        text-align: center;
        
    }

    .start{
        font-size: 50px;
        color:greenyellow;
        margin-top: 50px;
        margin-left:30%;
    }


}